.d-flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.direction-column {
    flex-direction: column;
  }

  &.flex-grow-1 {
    flex-grow: 1;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.flex-wrap-wrap {
    flex-wrap: wrap;
  }

  &.flex-wrap-nowrap {
    flex-wrap: nowrap;
  }

  @for $i from 1 through 16 {
    .flex-row-gap-#{$i} {
      row-gap: $i * 2px;
    }

    .flex-column-gap-#{$i} {
      column-gap: $i * 2px;
    }
  }
}
