.d-flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  &.direction-column {
    flex-direction: column;
  }

  &.flex-grow-1 {
    flex-grow: 1;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.flex-wrap-wrap {
    flex-wrap: wrap;
  }

  &.flex-wrap-nowrap {
    flex-wrap: nowrap;
  }

  @for $i from 1 through 16 {
    .flex-gap-#{$i} {
      gap: $i * 2px;
    }
  }
}
