@import "./flex.scss";
@import "./spacings/margins.scss";
@import "./spacings/paddings.scss";
@import "./typography";
@import "./sizes";
@import "./positions";
@import "./opacity";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #f5f7ff;
}

#app {
  height: 100vh;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
