#app {
  font-family: "Manrope", sans-serif;
  color: $c-dark-1;
  font-size: 16px;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
    font-size: calc((32 - ($i * 2)) * 1px);
    color: $c-dark-2;
  }
}

@for $i from 3 through 6 {
  .subheader-#{$i} {
    font-size: calc((28 - ($i * 2)) * 1px);
    font-weight: 400;
    color: $c-dark-3;
  }
}

a {
  text-decoration: none;
}

$textTransforms: capitalize, uppercase, lowercase, none;

@each $property in $textTransforms {
  .text-transform--#{$property} {
    text-transform: $property;
  }
}

@for $i from 2 through 8 {
  .font-weight-#{$i*100} {
    font-weight: $i*100;
  }
}

@for $fontSize from 14 through 64 {
  .font-size-#{$fontSize} {
    font-size: #{$fontSize}px;
  }
}

$textAligns: left, center, right;

@each $textAlign in $textAligns {
  .text-align-#{$textAlign} {
    text-align: $textAlign;
  }
}
