#app {
  font-family: "Urbanist", sans-serif;
  color: $c-text;
  font-size: 14px;
  letter-spacing: 1px;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
  }
}

$lineHeightKoeff: 1.6875;

h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: calc(32px * $lineHeightKoeff);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: calc(24px * $lineHeightKoeff);
}

h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: calc(18px * $lineHeightKoeff);
}

@for $i from 3 through 6 {
  .subheader-#{$i} {
    font-size: calc((28 - ($i * 2)) * 1px);
    font-weight: 400;
  }
}

a {
  text-decoration: none;
}

$textTransforms: capitalize, uppercase, lowercase, none;

@each $property in $textTransforms {
  .text-transform--#{$property} {
    text-transform: $property;
  }
}

@for $i from 2 through 8 {
  .font-weight-#{$i*100} {
    font-weight: $i*100;
  }
}

@for $fontSize from 14 through 64 {
  .font-size-#{$fontSize} {
    font-size: #{$fontSize}px;
  }
}

$textAligns: left, center, right;

@each $textAlign in $textAligns {
  .text-align-#{$textAlign} {
    text-align: $textAlign;
  }
}

.text-ellipsis {
  width: calc(100% - 1px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
