$c-primary: #4b49ac;
$c-support-1: #ff9708;

$c-info: #4490ea;
$c-success: #54a754;
$c-warning: #f5c543;
$c-error: #f37973;
$c-disabled: #989898;

$c-dark-1: #1e1e1e;
$c-dark-2: #303030;
$c-dark-3: #505050;
$c-dark-4: #787878;
